AZURE_STORAGE_CONNECTION_STRING=<connection_string>
AZURE_STORAGE_CONTAINER_NAME=test
AZURE_SERVICE_BUS_CONNECTION_STRING=<connection_string>
AZURE_SERVICE_BUS_QUEUE_NAME=guexit-cron-generate-image-command
AZURE_SERVICE_BUS_TOPIC_NAME=guexit-imagegeneration
AZURE_SERVICE_BUS_MAX_LOCK_RENEWAL_DURATION=1200
LOGGER_LEVEL=INFO
DEFAULT_MODEL_NAME=stabilityai/sdxl-turbo
TERM=xterm-256color
TAGS_TO_ADD='{"test":"test"}'
GENERATE_ON_COMMAND=false
TOTAL_IMAGES=0
BATCH_SIZE=50
